select{
  padding-left:20px;
  width: 100%;
  height: 50px;
  background-color: white;
  color: #08399c;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}
input{
  padding-left:20px;
  width: 100%;
  height: 50px;
  color: #08399c;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
}
input::placeholder{
  color: #08399c;
}
.search-query{
  display: flex;
  padding: 15px 0;
  gap: 15px;
}
button{
  background-color: #00b8ff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}
.search-page{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.doctors{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
