:host {
  position: relative;
  display: flex;
  height: 100vh;
  background: none;
  overflow: hidden;
}

:host::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/assets/imgs/background.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8; /* ← регулируй прозрачность */
  z-index: -1;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;      /* центрирует по горизонтали */
  justify-content: center;  /* центрирует по вертикали */
  text-align: center;
  gap: 40px/* центрирует текст */
}
.register-form input{
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 1px solid #969494;
  border-radius: 15px;

}
button{
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5050d7;
  color: white;
}

.wrapper{
  display: block;
  width: 70%;
  margin: 50px auto;
  height: fit-content;
  background-color: white;
  padding: 100px 30px;
  border-radius: 15px;
  opacity: 0.9;
}
