.payment-page{
  width: 40%;
  display: block;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.divider{
  padding: 0 0 10px 0 ;
  margin: 0 -20px 10px -20px;
  border-bottom: 0.5px solid #6b6b6b;

}
.bank-options{
  display: flex;
  gap: 10px;
}
.form-row{
  display: flex;
  flex-direction: column;
}
.input{
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 0.5px solid #6b6b6b;
  border-radius: 10px;
  margin-bottom: 10px;
}
button{
  padding: 7px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  color: white;
}
.cancel-btn{
  background-color: red;
}
.pay-btn{
  background-color: green;
}

