.form-row{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 20px;
}
input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid #6b6b6b;
}
button{
  width: 100%;
  border: none;
  padding: 5px 15px;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}


