.wrapper{
  background: url(https://www.booknmeet.com/img/BNM-INDIA-L-H1.svg) center 45px no-repeat #fff;
  padding: 165px 45px 20px;;
}
.box-feat {
  padding: 40px ;
  max-width: 350px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
}
.box-feat img {
  width: 80px;
  height: auto;
}
.box-feat h4 {
  text-align: center;
  color: #08399c;
  margin-top: 10px;
  margin-bottom: 10px;
}
p{
  text-align: justify;
}
