img{
  width: 150px;
}
.contact-info i{
  color: #00b8ff;
  margin-right: 10px;
}
fa-map-marker:before {
  content: "\f041";
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.follow_us i{
  color: #555;
}

.wrapper{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.footer{
  background-color: white;
  display: grid;
  grid-template-columns: 40% 20%  1fr;
}
h4{
  color: #999;
  font-weight: lighter;
  margin-bottom: 10px;
}
ul{
  list-style: none;
}
span{
  color: #555555;
  font-size: 14px;
}
.follow_us__icons{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.footer_contact{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.links li{
  color: #555555;
  font-size: 14px;
}
.background{
  padding: 50px 0;
  background-color: white;
}
