<div class="background">
<div class="wrapper">
  <div class="footer">
  <div class="footer_contact">
    <div>
    <img src="assets/imgs/logo.png">
    <h4>Online Appointment Scheduling Platform</h4>
  </div>
  <div class="contacts">
    <ul class="contact-info">
      <li>
        <i class="fa fa-map-marker"></i>
        <span>Abylaikhan 1/1, Kaskelen, Almaty Oblysy, Kazakhstan</span>
      </li>
      <li><i class="fa fa-mobile-phone"></i>
        <span>+7775 034 2804</span>
      </li>
      <li><i class="fa fa-envelope"></i>
        <span>eraorynbai&#64;gmail.com</span>
      </li>
    </ul>
  </div>
    <div class="follow_us">
      <h4>Follow us</h4>
      <ul class="follow_us__icons">
        <li><a href="https://www.facebook.com/booknmeet" target="_new"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/booknmeet" target="_new"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://in.linkedin.com/in/booknmeet" target="_new"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/booknmeet/" target="_new"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://api.whatsapp.com/send?phone=919496947548&amp;text=BOOKNMEET%20-%20Confirmed%20Online%20Appointment" target="_new"><i class="fa fa-whatsapp"></i></a></li>
        <li><a href="https://youtube.com/@booknmeet" target="_new"><i class="fa fa-youtube" target="_new"></i></a></li>
        <li><a href="https://play.google.com/store/apps/dev?id=4852298828600166862" target="_new"><i class="fa fa-android" target="_new"></i></a></li>
      </ul>
    </div>
  </div>
    <ul class="links">
      <li>Terms of use</li>
      <li>Privacy Policy</li>
      <li>Personal Information Policy</li>
      <li>Appointments</li>
    </ul>
    <div>
      <h4>
      Your guaranteed Online Appointment
      </h4>
      <span>
      With DocApp productivity tool, be successful in avoiding unscheduled absences. let our tool support you to be a leader in your medical practice. The best online appointment scheduling Platform enhances your practice management with online profile visibility.
      </span>
    </div>
</div>
</div>
</div>
