.verify-container{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper{
  width: 80%;
  display: block;
  margin: 20px auto;
}
input{
  width: 300px;
  padding: 5px 20px;
  border: 0.5px solid #6b6b6b;
  border-radius: 5px;
}
button{
  border: none;
  background-color: #5050d7;
  color: white;
  padding: 5px 20px;
  border-radius: 5px;
}
