<section class="verify-container">
  <h2>Подтверждение Email</h2>
@if(email()){
  <p>На адрес <strong>{{ email() }}</strong> был отправлен код подтверждения.</p>
  }
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="code" placeholder="Введите код" />
    <button type="submit" [disabled]="form.invalid">Подтвердить</button>
  </form>
  @if(message()){
    <p class="success" >{{ message() }}</p>
  }
 @if(error()){
   <p class="error">{{ error() }}</p>
 }
</section>
