<section class="doctor-dashboard">
  <div class="schedule-table">
    <table>
      <thead>
      <tr>
        <th>Time</th>
        <th *ngFor="let day of days">
          {{ formatDate(day) }}
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let time of timeSlots">
        <td class="time-col">{{ time }}</td>

        <td *ngFor="let day of days">
          <!-- Получаем день в формате 'YYYY-MM-DD' -->
          <ng-container *ngIf="table[day.toISOString().split('T')[0]][time] as cell">

            <!-- Если ячейка занята -->
            <div class="slot busy">
              Patient name: {{ cell.userProfile.name }}
            </div>

          </ng-container>

          <!-- Если ячейка свободна -->
          <ng-container *ngIf="!table[day.toISOString().split('T')[0]][time]">
            <div
              class="slot free"
              (click)="selectSlot(day, time)"
            >
              Available
            </div>
          </ng-container>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
