*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 12px 20px;
  background-color: #5050d7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #3f3fbf;
  transform: scale(1.03);
}
body{
  background-color: #f5f8fa;
  height: 100dvh;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
p{
  margin: 0;
}
h4{
  font-size: 16px;
}


